{% extends "myprofileBase.html" %}
{% block title %}
Отель "Название" - Подача заявки
{% endblock %}
{% block myprofilePlace %}
<div class="container-fluid text-center">
    <h3>Подать заявку</h3>
    <form class="form-horizontal" action="{% url 'booking:create' %}" method="POST">
        {% csrf_token %}
	    {% if error %}
        <div class="alert alert-danger alert-dismissable fade in">
	        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	        {{ error }}
	    </div>
	    {% endif %}
        <div class="form-group">
		<div class='form-inline'>
            <label class="control-label col-sm-2" for="{{ form.s_date.id_for_label }}">Дата заезда:</label>
            <div class="col-sm-9">
                {{ form.s_date }}
            </div>
		</div>
        </div>
        <div class="form-group">
		<div class='form-inline'>
            <label class="control-label col-sm-2" for="{{ form.e_date.id_for_label }}">Дата выезда:</label>
            <div class="col-sm-9">
                {{ form.e_date }}
            </div>
		</div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="{{ form.style.id_for_label }}">Тип номера:</label>
            <div class="col-sm-9">
                {{ form.style }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="{{ form.comment.id_for_label }}">Коментарий:</label>
            <div class="col-sm-9">
                {{ form.comment }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="{{ form.child.id_for_label }}">Количество детей:</label>
            <div class="col-sm-9">
                {{ form.child }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="{{ form.number_peoples.id_for_label }}">Количество взрослых:</label>
            <div class="col-sm-9">
                {{ form.number_peoples }}
            </div>
        </div>
	    <input type="submit" value="Отправить" class='btn btn-success  btn-lg'/>
    </form>
</div>
{% endblock %}