{% extends "commentBase.html" %}
{% block title %}
Отель "Название" - Аутентификация
{% endblock %}
{% block commentsPlace %}
<div class="container-fluid text-center">
    <h3>Написать отзыв</h3>
    <form class="form-horizontal" action="{% url 'comments:review' %}" method="POST">
        {% csrf_token %}
	    {% if error %}
        <div class="alert alert-danger alert-dismissable fade in">
	        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	        {{ error }}
	    </div>
	    {% endif %}
	    {{ form.as_p }}
	    <input type="submit" value="Отправить" class='btn btn-success  btn-lg'/>
    </form>
</div>
{% endblock %}